---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Cynthia Cruz" description="About Cynthia Cruz">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Gracias por pasar por aquí. Lee más abajo para descrubir mis habilidades y mi background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Cynthia Cruz at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Soy una apasionada desarrolladora web Full-Stack con una sólida formación técnica y una fuerte pasión por la creación de soluciones digitales innovadoras.
					</p>
					<p>
						Mi viaje en el mundo del desarrollo web comenzó con un compromiso firme y un intenso enfoque durante un bootcamp especializado en desarrollo web Full-Stack
					</p>
					<p>
						Esta experiencia transformadora me proporcionó una base sólida en tecnologías front-end y back-end, así como la capacidad de crear aplicaciones web dinámicas y escalables.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Technical skills</h2>
				<div class="content">
					<p>Javascript, Typescript, Python, SQL, Html, CSS, React, Git, GitHub, Gitlab, Express, Node.js, MongoDB, AWS: EC2, PM2, Linux.</p>
				</div>

			</section>

			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Trabajo bajo presión, atención al detalle, trabajo en equipo, habilidades interpersonales, comunicación efectiva, gestión del tiempo, resolución de problemas.</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Languages </h2>
				<div class="content">
					<p> Español: Nativo, Francés: Nativo, Ingles: Medio. </p>
				</div>
				
			</section>

			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p> Bootcamp Desarrollo Web Full Stack - Keepcoding
						Bootcamp intensivo centrado en las tecnologías mas utilizadas y mejores prácticas en Desarrollo Frontend, Desarrollo Backend, Control de Versiones y Colaboración, Testing y Calidad de Código y DevOps. Metodología enfocada en proyectos prácticos y colaborativos. </p>
						<br>
					<p>	Grado en Enfermería - Universidad de Francisco Vitoria
						. Hasta cuarto curso. </p>
						<br>
					<p>	Grado Superior en Técnico Superior en Salud Ambiental - I.E.S San Juan de la Cruz.</p>
						<br>
					<p> Grado Medio en Técnico en Cuidados Auxiliares de Enfermería - I.E.S San Juan de la Cruz.</p>
						<br>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
